<div class>
  <h1>目標数値</h1>
  <h1>申込<>件</h1>
  <h1>入塾<>件</h1>
  
  <table class>
    <tr>
      <th></th>
      <th>数値</th>
      <th>コメント</th>
    </tr>
    <tr>
      <th>達成率</th>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>申込件数</th>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>達成まで</th>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>入塾率</th>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>入塾件数</th>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>達成まで</th>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>退塾数</th>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>退塾率</th>
      <td></td>
      <td></td>
    </tr>
  </table>
  
</div>