<%= render '/subscriptions/header' %>

<div class="container mt-4">
  <div class="text-center">
    <h1>○○塾にようこそ</h1>
  </div>
  
    <p class="text-center">
      ○○塾の申し込みサイトへようこそ！！<br>
      ○○塾はお子様が自ら学習を取り組めるように楽しく授業を行っています。<br>
      興味のある方は、体験を受けられるので以下の申込みページからお申込みください。
    </p>
  
  
  <div class="text-center">
    <%= link_to "お申込みページへ＞", new_subscription_path %>
  </div>
  
</div>
